@import "tailwindcss";
@plugin '@tailwindcss/typography';


@theme {
    --breakpoint-xs: 30rem;
    --font-body: 'Inter', sans-serif;
    --text-display-2xl: 3rem;
    --text-display-2xl--font-weight: 600;
    --text-display-2xl--line-height: 1.2;
    --text-display-sm: 2.5rem;
    --text-display-sm--weight: 600;
    --text-display-sm--line-height: 1.3;
    --text-h2-desktop: 2.25rem;
    

}


@layer base {
    html{
        @apply font-body text-gray-950 bg-gray-50 subpixel-antialiased;
    }
  /* Custom global styles can be added here */
  h1 {
    @apply text-h1-desktop text-h1-mobile;
  }
}