@import "tailwindcss";
@plugin '@tailwindcss/typography';


@theme {
    --breakpoint-xs: 30rem;
    --font-body: 'Inter', sans-serif;
    --text-display-2xl: 4.5rem;
    --text-display-2xl--line-height: 1.25;
    --text-display-xl:3.75rem;  
    --text-display-xl--line-height: 1.25;
    --text-display-lg: 3rem;                                
    --text-display-lg--line-height: 1.25;
    --text-display-md: 2.25rem;     
    --text-display-md--line-height: 1.25;
    --text-display-sm: 1.875rem;
    --text-display-sm--line-height: 1.3;
    --text-display-xs:1.5rem;
    --text-display-xs--line-height: 1.3;
    --text-xl:1.25rem;
    --text-lg:1.125rem;
    --text-md:1rem;
    --text-sm:0.875rem;
    

}


@layer base {
    html{
        @apply font-body text-gray-950 bg-gray-50 subpixel-antialiased;
    }
  /* Custom global styles can be added here */
  h1 {
    @apply text-display-lg lg:text-display-xl font-semibold;
  }

  h2{
    @apply text-display-md lg:text-display-lg font-semibold;
  }
}