---
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
const {
  title = "This is a title",
  subtitle = "This is a subtitle",
  variant = "light",
} = Astro.props;
const variants = {
  light: "bg-purple-50 py-24 text-gray-900",
  dark: "bg-gray-900 text-white py-24",
};
---

<section class=`${variants[variant]}`>
  <Container>
    <div class="flex flex-col items-center justify-center text-center gap-5">
      <h2
        class:list={[
          "",
          variant === "light" ? "text-red-500" : "text-green-500",
        ]}
      >
        {title}
      </h2>
      <p class="text-xl">{subtitle}</p>
      <div
        class="w-full flex flex-col items-center justify-center xs:flex-row gap-3 mt-3"
      >
        <Button
          variant="primary"
          link="https://vrtuedigital.com/work/cloudbrain"
          linktext="Get started"
        />
        <Button
          link="https://vrtuedigital.com/work/cloudbrain"
          linktext="Learn more"
        />
      </div>
    </div>
  </Container>
</section>
